@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Macondo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  /* background-image: radial-gradient(circle, #588157, #ebf5ee); */
  /* background-color: #66c473; */
  background-attachment: fixed;
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.font-macondo {
  font-family: "Macondo";
}
.font-poppins {
  font-family: "Poppins";
}
.font-karla {
  font-family: "Karla";
}
.font-fugaz {
  font-family: "Fugaz One";
}

.styled-scrollbar {
  overflow-y: auto;
}

/* Width of the scrollbar */
.styled-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track (background) */
.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle (the moving part) */
.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  border-radius: 10px; /* Rounded edges */
}

/* Handle on hover */
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
